.toolbar{
  background-color: red;
  color: white;
  font-weight: bold;
}

.div-general-administrador {
  display: flex;
}

.div-listado {
  width: 90%;
  padding: 15px;
  padding-right: 5%;

}

.div-usuario {
  width: 50%;
  padding: 20px;
}
